.header-section{
  background: url("../../../../assets/images/auth-bg.png") no-repeat center;
  margin-top: -120px;
}

.header-text{
  margin-top: 20%;
  // margin-left: 20%;
}

.header-title{
  font-weight: bolder;
  color: #fff;
}

.header-subtitle{
  color: #fff;
}


