<section class="header-section pb-5">
  <div class="container">
    <div class="row mt-3 pd-4">
      <div class="col-sm-7">
        <div class="header-text">
          <h1 class="header-title">Sign up seamlessly</h1>
          <p class="header-subtitle">
            The night is dark and full of terrors. The winds of Winter. What is dead may never die. And now his watch is ended
          </p>
        </div>
      </div>
      <div class="col-sm-5">
      </div>
    </div>

  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="text-bold">Fill in your details</h2>
        <form>
          <div class="form-group mt-3">
            <label for="first_name">First name</label>
            <input type="text" class="form-control" id="first_name" placeholder="First name">
          </div>
          <div class="form-group  mt-3">
            <label for="last_name">Last name</label>
            <input type="text" class="form-control" id="last_name" placeholder="Last name">
          </div>
          <div class="form-group mt-3">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Email">
          </div>
          <div class="form-group mt-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password">
          </div>

          <button type="submit" class="btn btn-primary btn-block mt-3" style="width: 100%;">SIGN IN</button>
        </form>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</section>
