.safiri-card{
  text-align: center;
  border: none;
  padding: 30px 0;
}

.safiri-blue-card{
  background-color: #DCEEF5;
}

.safiri-blue-card .card-title{
  color: #0692C4;
}

.safiri-green-card{
  background-color: #D8FAD2;
}

.safiri-green-card .card-title{
  color: #1FC406;
}

.safiri-red-card{
  background-color: #F7E4E4;
}

.safiri-red-card .card-title{
  color: #C4060C;
}
