<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h2 class="text-bold">Hello, {{user.user.first_name}}</h2>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-4 mb-3">
      <div class="safiri-card safiri-blue-card">
        <div class="card-body">
          <h2 class="card-title">$1500</h2>
          <h6>Amount Saved</h6>
        </div>
      </div>
    </div>

    <div class="col-sm-4 mb-3">
      <div class="safiri-card safiri-green-card">
        <div class="card-body">
          <h2 class="card-title">$5000</h2>
          <h6>Target Budget</h6>
        </div>
      </div>
    </div>

    <div class="col-sm-4 mb-3">
      <div class="safiri-card safiri-red-card">
        <div class="card-body">
          <h2 class="card-title">$800</h2>
          <h6>Attainable emergency fund</h6>
        </div>
      </div>
    </div>

  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h4 class="text-bold">Quick links</h4>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-sm-3 mb-3">
      <div class="safiri-card-sm safiri-yellow-card">
        <div class="card-body">
          <h2 class="card-title">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
          </h2>
          <h6>
            Make payment from your flutterwave card
          </h6>
        </div>
      </div>
    </div>

    <div class="col-sm-3 mb-3">
      <div class="safiri-card-sm safiri-purple-card">
        <div class="card-body">
          <h2 class="card-title">
            <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          </h2>
          <h6>Request for travel<br> loan</h6>
        </div>
      </div>
    </div>

    <div class="col-sm-3 mb-3">
      <div class="safiri-card-sm safiri-blue-card safiri-blue-card-sm">
        <div class="card-body">
          <h2 class="card-title">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </h2>
          <h6>Book travel through our partner agencies</h6>
        </div>
      </div>
    </div>

    <div class="col-sm-3 mb-3">
      <div class="safiri-card-sm safiri-green-card safiri-green-card-sm">
        <div class="card-body">
          <h2 class="card-title">
            <i class="fa fa-mobile" aria-hidden="true"></i>
          </h2>
          <h6>Pay for airtime and data on the go</h6>
        </div>
      </div>
    </div>

  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h4 class="text-bold">Spending analytics</h4>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">
      <p>Amount spent so far: $180,000</p>
      <ngx-charts-bar-vertical
          [view]="[0,400]"
          [results]="saleData"
          [legend]="false"
          [xAxis]="true"
          [yAxis]="true"
          [gradient]="false">

      </ngx-charts-bar-vertical>
    </div>
    <div class="col-md-6">
      <p>Average country by country cost</p>
      <ngx-charts-pie-chart
        [results]="costData"
        [legend]="false"
        [labels]="false"
        [legendTitle]="'Average country by cost'"
        [view]="[0,400]"
        [labels]="true" >
    </ngx-charts-pie-chart>
    </div>
  </div>
</div>
