<section class="header-section mt--5 pb-5">
  <div class="container">
    <div class="row mt-3 pd-4">
      <div class="col-sm-8">
        <div class="header-text">
          <h1 class="header-title">
            Save for your next vacation, make necessary travel payments all within one platform.
          </h1>
          <p class="header-subtitle">
            Get access to an emergency travel loan when you run out of money.
          </p>
        </div>
      </div>
      <div class="col-sm-5">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <div class="row py-3 px-4">
              <div class="col-xl-8">
                <div class="row">
                  <div class="col-sm-4 mb-4 header-form">
                    <label class="text-bold">From:</label>
                    <br>
                    <input type="text" class="mt-2" placeholder="Select your location">
                  </div>
                  <div class="col-sm-4 mb-4 header-form">
                    <label class="text-bold">To:</label>
                    <br>
                    <input type="text" class="mt-2" placeholder="Select your destination">
                  </div>
                  <div class="col-sm-4 mb-4 header-form">
                    <label class="text-bold">Date:</label>
                    <br>
                    <input type="datetime" class="mt-2" placeholder="mm-dd-yyyy">
                  </div>
                </div>
              </div>
              <div class="col-xl-4">
                <div class="row">
                  <div class="col-md-4 col-lg-4 col-xl-6 mb-4  header-form" >
                    <label for="formControlRange" class="text-bold">Budget:</label>
                     <br>
                    <input type="range" class="mt-2">
                  </div>
                  <div class="col-md-4  col-lg-4 col-xl-6 mt-sm-4">
                    <button class="btn btn-primary mt-sm-2 safiri-btn">Search</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-5 pb-5">
  <div class="container">
    <div class="row pt-5 pb-5">
      <div class="col-sm-6">
        <img src="../../../../assets/images/about.png" class="img-fluid">
      </div>
      <div class="col-sm-6 pt-2 px-5">
        <h2 class="text-bold mt-4">
          Digital bank for constant travellers
        </h2>
        <p>
          Safiri works as the digital bank for constant travellers. From the point of knowing the kind of funds to set aside, to making payments for flights, food, hotels, airtime/data, Safiri takes care of all your financial worries.
          You will be issued a virtual dollar MasterCard to cater for all your international transactions, we will also offer you the unique opportunity to get an emergency travel loan when you overspend during your trip.
          Beyond this, we ensure you remain financially intelligent by giving you real-time analysis of your spendings so far.

        </p>
        <button class="btn btn-primary safiri-btn" routerLink="/auth/signup">GET STARTED</button>
      </div>
    </div>
  </div>
</section>

<section class="plans-section pb-5">

  <div class="container">
    <div class="row">
      <div class="col-8 mt-5">
        <h3 class="text-bold">Available Location Packages</h3>
      </div>
      <div class="col-4 mt-5">
        <h6 class="text-right" style="cursor: pointer;" routerLink="packages">See More</h6>
      </div>
    </div>

    <div class="row mt-4" *ngIf="!hasData">
      <div class="col-12">
        <div class="alert alert-danger">
          <h4 class="text-center">No locations added</h4>
        </div>
      </div>
    </div>

    <div class="row mt-4" *ngIf="hasData">
      <div class="col-md-4 pb-3" *ngFor="let location of locations">
        <div class="card shadow">
          <img [src]="location.image" class="img-fluid card-img-top">
          <div class="card-body">
            <div class="package-details mt-3">
              <div class="row">
                <div class="col-sm-6">
                  <h5 class="text-bold">{{location.country}}</h5>
                </div>
                <div class="col-sm-6">
                  <h5 class="text-right text-bold text-danger">${{location.total_amount}}</h5>
                </div>
              </div>
              <p><i class="fa fa-plane" aria-hidden="true"></i> Flight: ${{location.flight_amount}} (2-way)</p>
              <p><i class="fa fa-bed" aria-hidden="true"></i>
                Hotel: ${{location.hotel_amount}} (per night)</p>
              <p><i class="fa fa-cutlery" aria-hidden="true"></i>
                Food: ${{location.food_amount}} (per meal)</p>
              <button class="btn btn-outline-primary mt-3"  [routerLink]="['/home/packages', location.uuid]">SELECT</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>
