<section class="header-section pb-5">
  <div class="container">
    <div class="row mt-3 pd-4">
      <div class="col-sm-7">
        <div class="header-text">
          <h1 class="header-title">A thousand miles start with a step</h1>
          <p class="header-subtitle">
            A thousand miles start with a step
          </p>
        </div>
      </div>
      <div class="col-sm-5">
      </div>
    </div>

  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2 class="text-bold">Sign in to your account</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

          <div class="form-group mt-3">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div>enter a valid email</div>
            </div>
          </div>

          <div class="form-group mt-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">password is required</div>
              <div *ngIf="f.password.errors.minlength">should be more than 6 characters</div>
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-block safiri-btn mt-3" style="width: 100%;">SIGN IN</button>
        </form>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</section>
